@import "vars.styl"


* {
    font-family: sans-serif
    color: $colors.dark
}

.spacer
    flex-grow: 1

.layout
    display flex
    flex 1 1 auto
    flex-wrap nowrap
    min-width 0

    .column
        flex-direction column

    .wrap
        flex-wrap wrap



.divider
    display: block
    flex: 1 1 0
    max-width: 100%
    height: 0
    max-height: 0
    border: solid
    border-width: thin 0 0 0
    transition: inherit

    color: $colors.border